<div>
    <select style="width: 397px" class="form-select mb-3 text-secondary" aria-label="Default select example">
        <option selected disabled>Тип...</option>
        <option value="1">Доход</option>
        <option value="2">Расход</option>
    </select>

    <select style="width: 397px" class="form-select mb-3 text-secondary" aria-label="Default select example">
        <option selected disabled>Категория...</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>

    <input style="width: 397px" type="text" class="form-control mb-3" placeholder="Сумма в $...">

    <input style="width: 397px" type="date" class="form-control mb-3 text-secondary">

    <input style="width: 397px" type="text" class="form-control mb-4" placeholder="Комментарий...">

    <button id="save" type="button" class="btn btn-success me-3">Создать</button>

    <button id="cancel" type="button" class="btn btn-danger">Отмена</button>

</div>