<div class="d-flex justify-content-center align-items-center w-100 vh-100">

    <div class="d-flex flex-column">
        <img class="align-self-center mb-5" width="176" height="70" src="static/images/logo-auth.png" alt="logo">

        <h2 class="mb-3 text-center">Вход</h2>

        <div style="width: 397px" class="mb-4">
            <input type="text" class="form-control mb-2" placeholder="Электронная почта">
            <input type="text" class="form-control mb-2" placeholder="Пароль">
            <label role='button'>
                <input type="checkbox">
                <strong>Запомнить меня</strong>
            </label>
        </div>
        <button type="button" class="btn btn-primary">Войти</button>

    </div>

</div>

<!--style="max-width: 397px"-->